@use '../../../styles/mixin.scss' as mixin;
@use '../../../styles/Colors.scss' as Colors;

.changeLanguage {
  display: flex;
  margin: 20px 0px;
  a {
    background-color: Colors.$mainColor1;
    padding: 5px 20px;
    color: #fff;
    border-radius: 9px;
    margin: 0px;
    line-height: initial;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    transition: all 1s;
    &:hover {
      background-color: Colors.$mainColor2;
    }
  }
}
